
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
      <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container"> 
            <nav th:replace="layout :: menu">(menu)</nav>

            <a th:href="@{/equipamento/novo}" class="btn btn-primary">Novo Equipamento</a>

            <table class="table" id="equipamentos">
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>setor</th>
                        ,<th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" th:each="umequipamento : ${listaEquipamentos}">
                        <td th:text="${umequipamento.nome}"></td>
                        <td th:text="${umequipamento.setor}"></td>
                        <td>
                            <a th:href="@{'/equipamento/alterar/'+${umequipamento.id}}" class="btn btn-secondary">Alterar</a>
                            <button class="btn btn-danger js-delete"
                                    th:data-id="${umequipamento.id}">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Excluir</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div th:include="layout :: footer">(footer)</div> 
        <script type="text/javascript">
            $(document).ready(function(){
                $("#equipamentos").on('click', ".js-delete", function(){
                    let button = $(this);
                    bootbox.confirm("Confirma a exclusão do registro?",function(result){
                        if(result){
                            $.ajax({
                                url : "/equipamento/delete/" + button.attr("data-id"),
                                method: "GET",
                                success : function(){
                                    window.location.href = "/equipamento/";
                                }
                            });
                        }
                    });
                });
            });
        </script>
    </body>
</html> 